*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-image: url(/img/bg.webp);
    font-family: Montserrat;
}

.sign_in_container{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    min-width: 550px;
    background: #FFFFFF;
    border-radius: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5rem;
}

@media screen and (max-width: 576px) {
    .sign_in_container {
        min-width: unset;
        width: 90%;
    }
    .other_authentication {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.title_div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.sign_in_container h1{
    color: #222222;
    font-weight: 800;
}
.sign_in_container h2{
    padding-bottom: 1rem;
    color: #222222;
    font-weight: 800;
}

.Button{
    background: #F2994A;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.or_text{
    padding: 1.5rem 0;
    color: #686E77;
}

.other_authentication{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
}
.other_authentication_text{ 
    color: #686E77;
    text-decoration: underline;
    cursor: pointer;
}
.other_authentication_button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.4rem;
}
.other_authentication_button img{
    width: 1.2rem;
    height: 1.2rem;
}

.input_container{
    width: 100%;
    padding-bottom: 1rem;
}
.input_container p{
    color: #222222;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.input_container input{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #DBDBDC;
    color: #222222;
    font-family: Montserrat;
    border-radius: 0.25rem;
    outline: none;
}

.input_container input::-webkit-input-placeholder{
    color: #C2C4C6;
}

.input_container input::-moz-placeholder{
    color: #C2C4C6;
}

.input_container input:-ms-input-placeholder{
    color: #DBDBDC;
}

.input_container input::-ms-input-placeholder{
    color: #DBDBDC;
}

.input_container input::placeholder{
    color: #DBDBDC;
}

.error_div{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1rem;
    gap: 0.5rem;
    opacity: 0;
}
.error_visible{
    opacity: 1;
}

.error_text{
    color: #FF5F5F;
}
